* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

html, body {
    height: 100%;
}

#content {
    display: grid;
    grid-template-rows: 100px 70px auto 50px;
    height: 100%;
}

header {
    background-color: rgb(37, 42, 52);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

header img {
    width: 70px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 46, 99);
}

nav button {
    border-style: none;
    padding: 15px;
    background-color: rgb(37, 42, 52);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;
    user-select: none;
}

nav button.active, nav button:hover {
    background-color: rgb(0, 0, 0);
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pics/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.homeClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 20px;
    width: clamp(400px, 70%, 800px);
    font-size: 1.3rem;
    color: white;
}

.homeClass img {
    width: 250px;
    border-radius: 50%;
}

.menuClass {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 500px));
    gap: 20px;
    padding: 20px;
}

.menuItem {
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.menuItem img {
    width: 100px;
}

.contactClass {
    background-color: blue;

}

footer {
    background-color: rgb(255, 46, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 70px;
}

footer img:hover {
    animation: shake 0.5s;
}
    
    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}